[submodule "scrabble-dictionary"]
	path = scrabble-dictionary
	url = https://github.com/seanpatlan/scrabble-dictionary
[submodule "dictionary"]
	path = dictionary
	url = https://github.com/dolph/dictionary
