body {
	background-color: #111;
	color: #ddd;
	font-family: monospace;
	font-size: 1.7em;
	margin-top: 0;
}
div#container {
	max-width: 1000px;
	width: 90%;
	margin: 0 auto;
	padding: 10px;
	background-color: #222;
}
header {
	text-align: center;
}
header > h1 {
	margin-top: 0;
}
#top {
	text-align: center;
}
table#grid {
	margin: 0 auto;
	table-layout: fixed;
}
td {
	background-color: #aaa;
	color: #222;
	width:  1.4em;
	height: 1.4em;
	max-width:  20%;
	max-height: 20%;
	margin: 2px;
	text-align: center;
	user-select: none;
	border-radius: 8px;
	border: 2px solid rgba(0,0,0,0);
	font-size: 1.8em;
}
td.good {
	background-color: green;
	color: #ddd;
}
td.bad {
	background-color: red;
	color: #ddd;
}
td.cur {
	border-color: yellow;
}
td.curfirst {
	color: yellow;
}
p#bottom {
	margin: .5em .5em;
	font-size: 1.5em;
	text-align: right;
}
#enter {
	padding: 10px;
	font-size: 40px;
	background-color: #aaa;
}
#history {
	padding: 0;
}
#history > li {
	width: 10em;
	margin: 1px auto;
	background-color: #333;
	list-style-position: inside;
}
li.histwin {
	color: green;
}
